[submodule "ext/Stratis.SmartContracts"]
	path = ext/Stratis.SmartContracts
	url = https://github.com/stratisdevex/Stratis.SmartContracts.git
[submodule "ext/SharpConfig"]
	path = ext/SharpConfig
	url = https://github.com/stratisdevex/SharpConfig.git
[submodule "ext/NLog"]
	path = ext/NLog
	url = https://github.com/stratisdevex/NLog.git
