[submodule "ext/Stratis.SmartContracts"]
	path = ext/Stratis.SmartContracts
	url = https://github.com/stratisdevex/Stratis.SmartContracts.git
[submodule "ext/SharpConfig"]
	path = ext/SharpConfig
	url = https://github.com/stratisdevex/SharpConfig.git
[submodule "ext/NLog"]
	path = ext/NLog
	url = https://github.com/stratisdevex/NLog.git
[submodule "ext/AGL"]
	path = ext/AGL
	url = https://github.com/allisterb/AGL.git
[submodule "ext/CompactJson"]
	path = ext/CompactJson
	url = https://github.com/stratisdevex/CompactJson.git
[submodule "ext/dotliquid"]
	path = ext/dotliquid
	url = https://github.com/stratisdevex/dotliquid.git
[submodule "ext/CirrusSmartContracts"]
	path = ext/CirrusSmartContracts
	url = https://github.com/stratisproject/CirrusSmartContracts.git
[submodule "ext/cci"]
	path = ext/cci
	url = https://github.com/allisterb/cci.git
